body {
    margin: 0%;
    background-color: grey;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.conteiner {
    background-color: blanchedalmond;
    max-width: 85%;
    min-height: 40%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.left__conteiner {
    background-color: #4a4a44;
    width: 35%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.right__conteiner {
    width: 65%;
    background-color: blue;
}

.p {
    margin: 10px;
}

.bar__conteiner {
    padding: 10px;
}

.bar {
    padding: 10px;
    outline: none;
    border: none;
    color: #4a4a44;
    width: 90%;
}

.msj:hover {
    background-color: #8787858e;
}

.msj {
    padding: 0 10px;
    transition: background-color .09s;
}

h1 {
    margin: 10px;
}

img {
    width: 10%;
    border-radius: 50%;
}
