body {
    margin: 0%;
    padding: 0%;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    background-color: #48e;
    display: flex;
    padding: 15px;
    position: sticky;
    top: 0%;
}

.links-nav {
    margin: 0 10px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    transition: .1s all;
}

a:hover {
    background-color: #fff;
    color: #48e;
    border-radius: 50px;
    transition: .1s all;
} 

.input {
    width: 550px;
    margin-left: 150px;
}

.input-text {
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
}