html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}


.nav {
    background: linear-gradient(to right, #004d98, #a50044);
    padding: 15px;
    position:fixed;
    width: 100vw;
    top: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.616);
    z-index: 20;
}

.links-nav {
    margin: 0 10px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    transition: all .2s;
    border-radius: 20px;
    font-weight: 600;
}

a:hover {
    border-radius: 20px;
    background-color: #fff;
    color: #a50044;
}


.log-in {
    border: 2.5px solid #fff;
    border-radius: 20px;      
}

.log-in:hover {
    background-color: #fff;
    color: #004d98;
} 

.container {
    width: 100vw;
    height: 100vh;
}


h1 {
    text-align: center;
    color: #004d98;
    font-size: clamp(1.5rem, 3.5rem, 4.5rem);
    margin-top: 100px;
    padding: 5px;
}

.color-text {
    color: #a50044;
}

.sobre-mi {
    border-radius: 10px;
    max-width: 80vw;
    min-height: 50px;
    margin: auto;
    box-shadow: 0 0 10px #00000077;
    padding: 10px;
    background-color: #fff;
}


.h2-sobre-mi {
    text-align: center;
    font-size: 2.1rem;
}

.sobre-mi-box {
    text-wrap: balance;
    max-width: 90%;
    margin: auto;
}

.p-sobre-mi {
    padding: 9px;
    text-align: center;
    font-size: 1.2rem;
}

.container-historia {
    background-color: #004d98;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.historia {
    border-radius: 10px;
    max-width: 80vw;
    margin: auto;
    box-shadow: 0 0 10px #0000006b;
    background-color: #fff;
    max-height: 80vh;
    overflow: auto;
}

.h2-historia {
    text-align: center;
    font-size: 2.1rem;
}

.historia-box {
    text-wrap: balance;
    max-width: 90%;
    margin: auto;
}

.p-historia {
    padding: 9px;
    text-align: center;
    font-size: 1.2rem;
}

.container-jugadores-background {
    background-color: #a50044;
    padding: 10px;
    width: 100vw;
    height: 100%;
}

.container-player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.player-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    text-align: center;
    margin: 20px;
}

.player-image img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e0e0e0;
}

.player-info {
    padding: 20px;
}

.player-card h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.player-info p {
    margin: 5px 0;
    color: #666;
}

.player-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.container-titulos-background { 
    background-color: #004d98;
}

.titulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.titulos {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    text-align: center;
    margin: 20px;
}

.titulo-info {
    padding: 20px;
}


.titulo-info p {
    margin: 5px 0;
    color: #666;
}

.images-titulos img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e0e0e0;
}

.titulos h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.titulos:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #a50044;
    padding: 20px;
    min-height: 80px;
    display: flex;
}
