h2{
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
    letter-spacing: 3px;
}

.form {
    background-color: #48E;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 518px;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border-radius: 8px;
    max-width: 600px;
    margin-top: 40px;
    font-family: sans-serif;
}

.input, select, datalist, .q, fieldset, .submit {
    border: none;
    border: 0.5px solid rgba(255, 255, 255, 0.842);
    width: 440px;
    margin: 3px;
    padding: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.733);
    font-family: sans-serif;
    margin-top: 5px;
    text-align: left;
    border-radius: 5px;
}

body{
    background-image: url("https://images.unsplash.com/photo-1557626204-59dd03fd2d31?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D");
    color: white;
}

label {
    color: aliceblue;
    line-height: 2;
}

option {
    background-color: rgb(255, 255, 255);
}

.q {
    background-color: transparent;
    max-width: 600px;
    font-family: sans-serif;
}

select {
    width: 451px;
}

legend {
    font-family: sans-serif;
    font-weight: bolder;
    padding: 0 5px;
    margin-top: 5px;
}

input {
    outline: none;
    }

input::placeholder {
    color: white;
}

