:root {
    --charcoal: #252b28;
    --slate-grey: #505757;
    --silver-grey: #95998c;
    --light-grey: #dad8d4;
    --off-white: #f3f3f3;
}

:root {
    --deep-teal: #0d2b26;
    --forest-green: #1a3a2e;
    --moss-green: #2f4f39;
    --olive-green: #506d48;
    --sage-green: #80935a;
}